/* Import External CSS */
@import url('font-awesome-4.6.3/css/font-awesome.min.css');
@import url('bootstrap.css');
@import url('bootstrap-datepicker.min.css');
@import url('jquery.timepicker.css');

/* Page CSS */
html {
	background: #f6f7fa;
}
body {
	font-family: 'Poppins', sans-serif;
	background: #f6f7fa;
}
.page {
	display: none;
}
.page.active {
	display: block;
}

/* Login Page */
#login {
	background: #f6f7fa;
}
#login .login-area {
    height: 100vh;
    width: 100%;
    text-align: center;
}
#login .login-area .icon-area{
    font-size: 20vh;
    line-height: 20vh;
    margin-top: 20vh;
    height: 20vh;
}
#login .login-area .sub-text-area {
	height: 10vh;
}
#login .login-area .button-area .login-button {
	background: #4285f4;
	color: #fff;
	font-family: Roboto,arial,sans-serif;
}
#login .login-area .button-area .login-button > i{
	padding-left: 5px;
}

/* Main Page */
#main {
	padding: 0px;
	background: #f6f7fa;
}

/* Topbar Area */
#topbar {
	 background-color: black;
	 height: 10vh;
	 margin-bottom: 2vh;
	 -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	 box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	 width: 100%;
	 padding: 1.5vh 1vh 0.5vh 1vh;
	 color: white;
}

#topbar .topbar-col {
	display: inline-block;
	text-align: center;
}
#topbar .topbar-col.date-col {
	width: 30%;
}
#topbar .topbar-col.time-col {
	width: 20%;
}
#topbar .topbar-col.form-col {
	width: 11%;
}
#topbar .topbar-col.stats-col {
	width: 11%;
}
#topbar .topbar-col.ethno-col {
	width: 11%;
}
#topbar .topbar-col.help-col {
	width: 9%;
	float: right;
}

#topbar .topbar-col:not(:last-child) {
	border-right: 1px solid #e5e5e5;
}

#topbar .topbar-col .col-top {
	display: block;
	height: 5vh;
	font-size: 1.9vh;
}

#topbar .topbar-col .col-bottom {
	display: block;
	height: 3vh;
	font-size: 1.9vh;
}
#topbar .topbar-col.active .col-bottom {
	font-weight: bold;
}

#topbar .topbar-col .col-top .icon {
	font-size: 3.5vh;
	color: grey;
}
#topbar .topbar-col.active .col-top .icon {
	font-size: 4vh;
	color: white;
}

#topbar input {
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    text-align: center;
	max-width: 90%;
	color: white;
	background: black;
}

/* General Area Section */
.area {
	display: none;
}
.area.active {
	display: block;
}

/* Form Area */
#form {
	padding: 1vh 2vw 1vh 2vw;
	box-sizing: border-box;
}

#form .form-row {
    border-radius: 4px;
    color: black;
    background-color: #fff;
    border: 1px solid grey;
    padding: 1vh;
    height: 14vh;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1vh;
    min-height: 70px;
}

#form .form-row.error-row {
	border: 1px solid #ff0000;
	background-color: #ffe6e6;
}

#form .form-row .question {
	display: block;
	height: 4vh;
	font-size: 2vh;
	text-align: center;
	color: grey;
}

#form .form-row .options {
	height: 8vh;
    display: table;
    table-layout: fixed;
	width: 100%;
}

#form .form-row .options .form-col {
	display: table-cell;
	text-align: center;
}

#form .form-row .options .form-col.selected {
	border-radius: 5px;
	background-color: #e9fee7;
	color: #008000;
}

#form .form-row .options .form-col:not(:last-child) {
	border-right: 1px solid #e5e5e5;
}

#form .form-row .options .form-col .col-top {
	display: block;
	height: 5vh;
}

#form .form-row .options .form-col .col-bottom {
	display: block;
	height: 3vh
}

#form .form-row .options .form-col .col-top .icon {
	font-size: 5vh;
}

#form .form-row .options .form-col .col-bottom .bottom-text {
	font-size: 1.9vh;
}

#complete {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-top: 2vh;
}
#complete .button-wrapper {
	display: table-cell;
	text-align: center;
}

#complete .button-wrapper .done-button {
	width: 20vw;
	border-radius: 4px;
}

/* Ethno Area */
#ethno {
	
}

/* Help Area */
#help {
	
}

/* Stats Area */
#stats {
	
}

/* Loader Page */
#loader {
	background: #f6f7fa;
}
#loader .loader-area {
    height: 100vh;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 100vh;
}
#loader .loader-area .loader-icon {
	font-size: 20vh;
}

/* Mobile CSS */
@media only screen and (max-device-width: 950px) {
	#form .form-row .options .form-col .col-top .icon.smaller {
		font-size: 4vh;
	}
	
	#form .form-row .options .form-col .col-bottom .bottom-text.smaller {
		font-size: 1vh;
		vertical-align: top;
	}
}

