/* Import External CSS */
@import url('font-awesome-4.6.3/css/font-awesome.min.css');
@import url('bootstrap.css');

/* Page CSS */
html {
	background: #f6f7fa;
}

body {
	font-family: 'Poppins', sans-serif;
}

#main {
	padding: 0px;
	background: #f6f7fa;
}

/* Topbar Section */
#topbar {
	 background-color: #fff;
	 height: 10vh;
	 margin-bottom: 2vh;
	 -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	 box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

/* Form Section */
#form {
	padding: 1vh 2vw 1vh 2vw;
	box-sizing: border-box;
}

#form .form-row {
    border-radius: 4px;
    color: black;
    background-color: #fff;
    border: 1px solid grey;
    padding: 1vh;
    height: 14vh;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1vh;
    min-height: 70px;
}

#form .form-row .question {
	display: block;
	height: 4vh;
	font-size: 2vh;
	text-align: center;
	color: grey;
}

#form .form-row .options {
	height: 8vh;
    display: table;
    table-layout: fixed;
	width: 100%;
}

#form .form-row .options .form-col {
	display: table-cell;
	text-align: center;
}

#form .form-row .options .form-col.selected {
	border-radius: 5px;
	background-color: #e9fee7;
	color: #008000;
}

#form .form-row .options .form-col:not(:last-child) {
	border-right: 1px solid #e5e5e5;
}

#form .form-row .options .form-col .col-top {
	display: block;
	height: 5vh;
}

#form .form-row .options .form-col .col-bottom {
	display: block;
	height: 3vh
}

#form .form-row .options .form-col .col-top .icon {
	font-size: 5vh;
}

#form .form-row .options .form-col .col-bottom .bottom-text {
	font-size: 1.9vh;
}

/* Complete Section */
#complete {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-top: 2vh;
}
#complete .button-wrapper {
	display: table-cell;
	text-align: center;
}

#complete .button-wrapper .done-button {
	width: 20vw;
	border-radius: 4px;
}

/* Mobile CSS */
@media only screen and (max-device-width: 767px) {
	#form .form-row .options .form-col .col-top .icon.smaller {
		font-size: 4vh;
	}
	
	#form .form-row .options .form-col .col-bottom .bottom-text.smaller {
		font-size: 1vh;
		vertical-align: top;
	}
}

